# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Downloaded PDFs
files/*.pdf

# Reports
*.xlsx

# Streamlit
.streamlit/secrets.toml
